
.title{
    font-size: 2rem;
    font-family: Comic sans Ms;
    color: white;
}
.cells{
    font-family: Comic sans Ms;
    color: white;
}




@media screen and (max-width: 600px){
    .title{
        font-size: 0.8rem;
    }
    .cells{
        font-size: 0.6rem;
    }
    Button{
        font-size: 3rem;
    }
}