
.title{
    font-size: 2rem;
    background-color: black;
    font-family: Comic sans Ms;
    color: white;
}
.cells{
    font-family: Comic sans Ms;
    color: white;
}

.table{
  margin: auto;
  
}

@media screen and (max-width: 600px){
    .title{
        font-size: 1rem;
    }
}