.rules-display{ 
    background-image: url(/src/UI/images/244135181_231288082349036_8970351012148601611_n.jpeg);
    opacity: 87%; 
height: 90vh; width: 100vw;
background-repeat: no-repeat;
background-size: cover;

}



.header{
 margin-top: 0%; 
      display: flex; 
      justify-content: center;
   font-family: Comic sans Ms;
   padding-top: 8%;
   font-weight: 350;
    color: white;
    /* box-shadow: 7px 6px 5px rgba(49, 1, 1, 0.3); */
    font-size: 5rem;
}

.rules{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 8% ;
    
}

.images{
     height: 5rem; 
     width: 5rem; 
    transition: all 0.2s ease-in-out;
}

.images:hover ~ .text{
  background-color: grey;
  color: white;
  transform: translateY(-2px);
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
  margin-top: 5%;
}

.images:hover ~ .second-header{
  background-color: grey;
  color: white;
  transform: translateY(-2px);
  box-shadow: 10px 10px 4px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5%;
}

.second-header{
margin: 0;
font-size: 1.09rem; 
font-weight: bold;
display: flex; 
align-items: center;
padding: 0.4rem 6px;
font-family: Comic sans Ms;
  font-weight: 550;
  text-align: center;
}

.text{
    font-family: Comic sans Ms;
    font-size: 0.98rem;
    line-height: 1.5;
    font-weight: 150;
    color: white;
    text-align: justify;

}
img{
justify-content: center;
}


/* .button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    border: none;
    background-color: #d8ded8;
    color: rgb(98, 96, 96);
    margin: auto;
    margin-top: 10%;
  } */
  
  /* .button:hover {
    background-color: #e28b27;
    transform: translateY(-2px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  } */

  /* .button-placement{
    display: flex;
  } */
  
  @media only screen and (max-width: 600px) {
    .rules-display{
      height: 100vh;
      
      justify-content: center;
      flex-direction: row;
    }
    .header{
      font-size: 2.5em;
    }
    .text{
 font-size: 0.9rem;
    
  }
  }