.tlvruning{
    background-image: url(/src/UI/images/Tel-Aviv-Hoops.jpeg);
height: 82vh; width: 100vw;
background-repeat: no-repeat;
background-size: cover;
background-position: top;
margin: 0%;
display: flex;
align-items: center;
justify-content: center;
opacity: 70%; 
}

.heading{
    padding-bottom: 9%;
    font-size: 5rem;
    font-weight: 600;
    /* transform: rotate(8deg); */
    color: WHITE
}

@media only screen and (max-width: 600px) {
    .tlvruning{
        height: 65vh;
    }
    .heading{ 
        font-size: 4rem;
text-align: center;    
margin-bottom: 30%;
font-weight: bolder;
}


}