.tlvruning{
    background-image: url(/Users/roygutter/Desktop/Full-Stuck/projects/Tel-Aviv-Hoops/src/UI/images/Tel-Aviv-Hoops.jpeg);
height: 100vh; width: 100vw;
background-repeat: no-repeat;
background-size: cover;
background-position: top;
margin: 0%;
display: flex;
align-items: center;
justify-content: center;
opacity: 90%; 
}

.heading{
    padding-bottom: 15%;
    font-size: 5rem;
    font-weight: 400;
    /* transform: rotate(8deg); */
    color: WHITE
}

@media only screen and (max-width: 600px) {
    .heading{ font-size: 4rem;}
}